AWS_ACCESS_KEY_ID=AKIAYCPYKHVVZQLR6F5O
AWS_SECRET_ACCESS_KEY=PLACEHOLDER
AWS_DEFAULT_REGION=us-east-1
DYNAMODB_TABLE=genai_reviews
SES_SENDER_EMAIL=manishagupta81@gmail.com
NOTIFY_EMAIL=manishagupta81@gmail.com
FRONTEND_URL=http://localhost:3000
